<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>chrsep.dev</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/style/global.css">
</head>
<body>
<main class="bg-default text-default min-h-screen">
  <slot />
</main>
</body>
</html>
